html {
box-sizing: border-box;
font-size: 16px;
}

*, *:before, *:after {
box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
margin: 0;
padding: 0;
font-weight: normal;
}

ol, ul {
list-style: none;
}

img {
max-width: 100%;
height: auto;
}

body{

    font-family: 'Inter', sans-serif;
}

.header-menu{

    display: flex;
    padding-top: 101px;
    padding-left: 868px;
    padding-bottom: 181px;
    
    background-color: #D9D9D9;
}
.a-menu{
    margin-right: 79px;
    font-size: 20px;
    color: #000;
    text-decoration: none;
}


.a-gallegy{
    margin-right: 79px;
    font-size: 20px;
    color: #000;
    text-decoration: none;
}
.a-about{
    margin-right: 79px;
    font-size: 20px;
    color: #000;
    text-decoration: none;
}
.a-services{
    margin-right: 79px;
    font-size: 20px;
    color: #000;
    text-decoration: none;
}
.a-class{
    margin-right: 79px;
    font-size: 20px;
    color: #000;
    text-decoration: none;
}

.img_text-div{
    
    display: flex;
    padding-left: 121px;
    padding-bottom: 71px;
    
    
}
.p1{
    margin-top: 267px;
    font-size: 40px;

}
.h1_text{
    padding-left: 230px;
    margin-bottom: 13px;
    font-size: 96px;
    
}

.p_main_text{
    width: 1013px;
    height: 148px;
    margin-left: 251px;

    font-size: 20px;
}
.main_div{

    
    background-color: #D9D9D9;
}
.div_main2{
    padding-top: 100px;
    padding-bottom: 71px;
    background-color: #D9D9D9;
}
.h2{
    margin-left: 218px;
    font-size: 64px;
}
.div_p{
    display: flex;
    margin-top: 60px;
    margin-left: 228px;
    
    font-size: 40px;
}
.p4{
    margin-right: 195px;
}
.div_paint_and_web{

    display: flex;
    margin-top: 71px;
    margin-left: 227px;
    
}
    
.img_div{
    margin-right: 350px;
}
.img_men{

    margin-left: 1100px;
    padding-right: 52px;
}